# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.pytest_cache/

# Flask stuff
instance/
.webassets-cache

# Environment variables
.env

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# macOS-specific files
.DS_Store
